{% extends "layout.html" %} {% block body %}

<div class="book-details-container">
	<div class="a-side">
		<div class="details-a-top">
			<a href="{% url 'browse' %}" class="details-back-arrow">
				<svg
					width="57"
					height="16"
					viewBox="0 0 57 16"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M0.292893 7.29289C-0.097631 7.68341 -0.0976311 8.31658 0.292893 8.7071L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6568L2.41421 8L8.07107 2.34314C8.46159 1.95262 8.46159 1.31945 8.07107 0.928928C7.68054 0.538404 7.04738 0.538404 6.65685 0.928928L0.292893 7.29289ZM57 7L1 7L1 9L57 9L57 7Z"
						fill="#6565F7"
					/>
				</svg>
			</a>
			<svg
				viewBox="0 0 14 20"
				class="bookmark-details"
				fill="none"
				stroke="rgb(101, 101, 247)"
				stroke-width="1.5"
			>
				<path d="M2 2 H12 V15 L7 11 L2 15 V2 Z" />
			</svg>
		</div>
		<div class="book-image-container">
			<img src="{{book.image}}" class="book-details-image" />
		</div>
		<div class="details-a-bottom">
			{% for author in book.authors %} {% if forloop.first %}
			<span class="author">Written by <strong>{{ author.name }}</strong></span>
			{% endif %} {% endfor %}
			<svg
				class="lend-details"
				width="36"
				height="40"
				viewBox="0 0 37 41"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<rect
					x="3"
					y="2"
					width="26"
					height="31"
					rx="1"
					fill="white"
					stroke="#6565F7"
					stroke-width="2.5"
				/>
				<rect
					x="1"
					y="1"
					width="24"
					height="33"
					rx="1"
					fill="white"
					stroke="#6565F7"
					stroke-width="2.5"
				/>
				<circle
					cx="24.5"
					cy="28.5"
					r="10.5"
					fill="white"
					stroke="#6565F7"
					stroke-width="2.5"
				/>
				<path
					d="M30.4596 28.9596C30.7135 28.7058 30.7135 28.2942 30.4596 28.0404L26.323 23.9038C26.0692 23.65 25.6576 23.65 25.4038 23.9038C25.15 24.1576 25.15 24.5692 25.4038 24.823L29.0808 28.5L25.4038 32.177C25.15 32.4308 25.15 32.8424 25.4038 33.0962C25.6576 33.35 26.0692 33.35 26.323 33.0962L30.4596 28.9596ZM19 29.15H30V27.85H19V29.15Z"
					fill="#6565F7"
					class="arrow"
				/>
			</svg>
		</div>
	</div>
	<div class="b-side">
		<div class="b-side-top">
			<div class="b-side-left">
				<div class="b-side-title-container">
					<span class="b-side-title">{{book.title}}</span>
					{% for author in book.authors %} {% if forloop.first %}
					<span class="b-side-author">{{ author.name }}</span>
					{% endif %} {% endfor %}
				</div>
				<div class="b-side-info-container">
					<span> Published: {{book.publish_date|floatformat:"0"}} </span>
					<span> Pages: {{book.number_of_pages|floatformat:"0"}} </span>
					<span>Rating: {{ rating|floatformat:1 }}</span>
				</div>
			</div>
			<div class="b-side-right">
				<div class="b-side-description">
					<div>{{description_top}}</div>
					<div>{{description_bottom}}</div>
				</div>
			</div>
		</div>
		<div class="b-side-bottom">
			<span class="b-side-bottom-header">Borrow this book from</span>
			<div class="b-side-bottom-lenders-container">
				<!--aq iasna for loopit gadavuvlit userebs romlebsac es wigni aqvrt lendze and undat borrow-->
				<!--if the list is empty mashin rame sxva messsage unda iyos da render it -->
				<div class="b-side-bottom-lender">
					<div class="b-side-bottom-lender-img-container"></div>
					<p class="b-side-bottom-lender-name">magariaaaaaaaaaaaaaaa</p>
				</div>
				<div class="b-side-bottom-lender">
					<div class="b-side-bottom-lender-img-container"></div>
					<p class="b-side-bottom-lender-name">cooool</p>
				</div>
			</div>
			<span class="b-side-bottom-borrower-header">Lend this book to</span>
			<div class="b-side-bottom-borrowers-container">
				<div class="b-side-bottom-borrower">
					<div class="b-side-bottom-borrower-img-container"></div>
					<p class="b-side-bottom-borrower-name">magariaaaaaaaaaaaaaaa</p>
				</div>
				<div class="b-side-bottom-borrower">
					<div class="b-side-bottom-borrower-img-container"></div>
					<p class="b-side-bottom-lender-name">cooool</p>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
