{% extends "layout.html" %} {% block body %}
<div class="browse-container">
	{% for book in books %} {% if book.volumeInfo.imageLinks.thumbnail %}
	<div class="browse-book">
		<div class="browse-a-container">
			<span class="browse-book-title"> {{ book.volumeInfo.title }} </span>
		</div>
		<img
			class="browse-book-image"
			src="{{book.volumeInfo.imageLinks.thumbnail}}"
		/>
		<div class="browse-b-container">
			<p>author</p>
			<p>heart</p>
		</div>
	</div>
	{% endif %} {% endfor %}
</div>
{% endblock %}
