{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block title %}Book Exchange{% endblock %}</title>
		<link href="{% static 'style.css' %}" rel="stylesheet" />
		<link rel="icon" type="image/x-icon" href="/book/static/favicon.ico" />
	</head>
	<body>
		<!-- loader -->
		{% if not hide_loader %}
		<div class="container">
			<p class="pulsate">Loading...</p>
			<div class="book">
				<div class="page"></div>
				<div class="page backPage"></div>
				<div class="page pageFlip"></div>
				<div class="page pageFlip"></div>
				<div class="page pageFlip"></div>
			</div>
		</div>
		{% endif %}
		<!-- layout stuff -->
		<div class="mouse-circle"></div>
		<div class="navbar">
			<div class="nav-item">
				<a class="nav-link" href="{% url 'index' %}">HOME</a>
			</div>
			<div class="nav-item">
				<a class="nav-link" href="{% url 'shelf' %}">SHELF</a>
			</div>
			{% if user.is_authenticated %}
			<div class="nav-item">
				<a class="nav-link" href="{% url 'logout' %}">LOG OUT</a>
			</div>
			{% else %}
			<div class="nav-item">
				<a class="nav-link" href="{% url 'login' %}">LOG IN</a>
			</div>
			{% endif %}
			<div class="nav-item">
				<a class="nav-link" href="{% url 'register' %}">REGISTER</a>
			</div>
		</div>
		<!-- line to inject child components -->
		<script src="{% static 'scripts/scripts.js' %}"></script>
		{% block body %} {% endblock %}
	</body>
</html>
