{% extends "layout.html" %} {% block body %}

<div class="login-page">
	<form class="form" action="{% url 'login' %}" method="POST">
		{% csrf_token %}

		<div class="form-group">
			<input
				class="form-input"
				type="text"
				name="username"
				placeholder="Username"
			/>
		</div>

		<div class="form-group">
			<input
				class="form-input"
				type="password"
				name="password"
				placeholder="Password"
			/>
		</div>

		<input type="submit" class="input-button" value="Log In" />
		<p>{{message}}</p>
	</form>
</div>

{%endblock%}
