{% extends "layout.html" %} {% block body %}

<h1>hii {{user.username}}</h1>
<div class="user-profile-img-container">
	<img class="user-profile-img" src="{{user.image.url}}" />
</div>

<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="form-group">
		<input
			type="file"
			name="profile_image"
			id="profile_image"
			accept="image/*"
		/>
		<button type="submit" class="submit-btn">Update Picture</button>
	</div>
</form>

<form method="POST" action="{% url 'shelf' %}">
	{% csrf_token %}
	<div class="form-group">
		<input type="text" class="new-username" id="new-username" name="username" />
	</div>
	<button type="submit" class="submit-btn">Update Username</button>
</form>

{% endblock %}
