@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

html {
	cursor: none;
	::selection {
		background-color: rgb(101, 101, 247);
		color: #fff;
	}
}

body {
	font-family: "Raleway", sans-serif;
	overflow-x: hidden;
	margin: 0;
	cursor: none;
}

.message {
	color: rgb(101, 101, 247);
}

/* loader styles */
.container {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	flex-direction: column;
}

.pulsate {
	animation: pulsate 2s ease-out;
	animation-iteration-count: infinite;
	opacity: 0.3;
	color: rgb(101, 101, 247);
	transform: translateY(-220%);
}

@keyframes pulsate {
	0% {
		opacity: 0.3;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.3;
	}
}

@keyframes pageTurn {
	0% {
		transform: rotateY(0deg);
	}
	40% {
		transform: rotateY(180deg);
	}
	100% {
		transform: rotateY(180deg);
	}
}

.book {
	border: 2.8px solid rgb(101, 101, 247);
	border-radius: 0.25rem;
	padding: 2rem;
	margin-bottom: 100px;
	perspective: 37.5rem;
	position: relative;
	width: 100px;
	height: 45px;
	display: flex;
	transform: translate3d(0, -30%, 0);
	transform-style: preserve-3d;
}

.page {
	position: absolute;
	width: 75px;
	height: 95px;
	left: 0.25rem;
	top: 0.25rem;

	border: 2.8px solid rgb(101, 101, 247);

	background-color: #fff;
	background-image: repeating-linear-gradient(
		rgb(101, 101, 247) 0 0.125rem,
		hsla(223, 10%, 10%, 0) 0.125rem 0.5rem
	);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 2.5rem 4.125rem, 100% 100%;

	transform-origin: 100% 50%;
	transform-style: preserve-3d;
	transform: translate3d(0, 0, 0);

	&:not(.backPage) {
		border-right-width: 1px;
	}
}

.backPage {
	left: 50%;
	border-left-width: 1px;
}

.pageFlip:nth-of-type(2) {
	position: absolute;
	z-index: 30;
	animation: pageTurn 1.2s cubic-bezier(0, 0.39, 1, 0.68) 0 infinite;
}

.pageFlip:nth-of-type(3) {
	position: absolute;
	z-index: 20;
	animation: pageTurn 1.2s cubic-bezier(0, 0.39, 1, 0.68) 1.2s infinite;
}

.pageFlip:nth-of-type(4) {
	position: absolute;
	z-index: 10;
	animation: pageTurn 1.2s cubic-bezier(0, 0.39, 1, 0.68) 1s infinite;
}

/* rest of the styles */

a {
	text-decoration: none;
	color: inherit;
}

.mouse-circle {
	position: fixed;
	border-radius: 50%;
	background-color: #9dd9f7;
	pointer-events: none;
	width: 30px;
	height: 30px;
	transition: transform 0.15s ease-out, opacity 0.3s ease-in-out;
	z-index: 2;

	@media screen and (max-width: 1024px) {
		display: none;
	}
}

.navbar {
	position: fixed;
	right: 30px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	top: 20px;
	cursor: pointer;
	z-index: 3;

	@media (max-width: 730px) {
		position: absolute;
		visibility: hidden;
	}
}

.nav-item {
	font-weight: 550;
	color: #6565f7;
	font-size: 13px;
}

.nav-link {
	text-decoration: none;
	color: inherit;
	transition: color 0.2s ease-in-out;
}

.nav-link:hover {
	color: rgb(26, 26, 184);
}

.header-text {
	font-style: italic;
	font-weight: 900;
	font-size: 80px;
	color: rgb(101, 101, 247);
	margin: 30px;
	transition: color 0.2s ease-in-out;
	cursor: none;

	@media (max-width: 700px) {
		font-size: 48px;
	}
}

.header-text-div {
	margin: 0;
	width: 100%;
	border-bottom: 1px solid rgb(101, 101, 247);
	user-select: none;
}

.header-text:hover {
	color: rgb(140, 140, 253);
}

.corner-text {
	color: rgb(92, 92, 229);
	font-size: 16px;
	margin: 20px;
	position: absolute;
	bottom: 0px;
	user-select: none;
	z-index: 2;
}

/* parallax items */

.parallax-container {
	display: flex;
	flex-direction: column;
	position: fixed;
	perspective: 1000px;
	height: auto;
	padding: 2rem;
	top: 5vh;
	right: 25vw;
	width: 50vw;
	z-index: 1.5;
	pointer-events: none;

	/* chamoyaros mxolod mashin roca es width eqneba da height iqneba 700 */
	/* TODO: adjust for every height and width accordingly */
	@media screen and (max-width: 768px), screen and(max-height: 700px) {
		top: 50vh;
	}

	@media screen and (max-width: 500px) {
		visibility: hidden;
	}
}

/* each book  */
.parallax-item {
	position: absolute;
	transition: all 0.2s ease-in-out;
	pointer-events: auto;
}

.parallax-item:nth-child(1) {
	right: -11%;
	top: 230px;
	width: 200px;
	z-index: 10;

	img {
		width: 100%;
	}

	@media screen and (max-width: 768px) {
		width: 50px;
	}
}

.parallax-item:nth-child(2) {
	right: 60px;
	top: 260px;
	z-index: 8;
	width: 120px;

	img {
		width: 100%;
	}
}

.parallax-item:nth-child(3) {
	right: 125px;
	top: 200px;
	width: 90px;
	z-index: 7;

	img {
		width: 100%;
	}

	@media screen and (max-width: 768px) {
		width: 20px;
	}
}

.parallax-item:nth-child(4) {
	right: 160px;
	top: 160px;
	width: 90px;
	z-index: 6;

	img {
		width: 100%;
	}

	@media screen and (max-width: 768px) {
		width: 90px;
	}
}

.parallax-item:nth-child(5) {
	right: 130px;
	top: 120px;
	width: 90px;
	z-index: 5;

	img {
		width: 100%;
	}
}

.parallax-item:nth-child(6) {
	right: 80px;
	top: 80px;
	width: 90px;
	z-index: 4;

	img {
		width: 100%;
	}
}

.parallax-item:nth-child(7) {
	right: 20px;
	top: 40px;
	width: 90px;
	z-index: 3;

	img {
		width: 100%;
	}
}

.parallax-item:nth-child(8) {
	right: -5%;
	top: 0;
	width: 90px;
	z-index: 2;

	img {
		width: 100%;
	}
}

/* hover animation */
.parallax-item:nth-child(1):hover,
.parallax-item:nth-child(2):hover,
.parallax-item:nth-child(3):hover,
.parallax-item:nth-child(4):hover {
	transform: translateX(-10px);
}

.parallax-item:nth-child(5):hover,
.parallax-item:nth-child(6):hover,
.parallax-item:nth-child(7):hover,
.parallax-item:nth-child(8):hover {
	transform: translateX(10px);
}

/* browse page styles */

.browse-container {
	width: 92vw;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

	@media (max-width: 1300px) {
		width: 90vw;
	}

	@media (max-width: 1070px) {
		width: 86vw;
	}

	@media (max-width: 855px) {
		width: 85vw;
	}

	@media (max-width: 700px) {
		width: 100vw;
	}
}

.browse-book {
	position: relative;
	border-right: 1px solid rgb(101, 101, 247);
	border-bottom: 1px solid rgb(101, 101, 247);
	padding: 70px;
	padding-bottom: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	transition: 0.3s ease-in-out background-color;
}

.browse-book:hover {
	background-color: rgb(101, 101, 247);
}

.browse-book-image {
	width: 220px;
	height: 300px;
	object-fit: cover;
}

.browse-a-container {
	position: absolute;
	display: flex;
	flex-direction: row;
	left: 20px;
	right: 20px;
	top: 20px;
	justify-content: space-between;
	transition: 0.2s ease-in-out color;
	color: rgb(101, 101, 247);
}

.browse-book-title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 80%;
}

.browse-book:hover .browse-a-container {
	color: #fff;
}

.browse-book:hover .browse-b-container {
	color: #fff;
}

.browse-book:hover ~ .mouse-circle {
	background-color: white;
}

.browse-b-container {
	position: absolute;
	display: flex;
	flex-direction: row !important;
	bottom: 15px;
	width: 80%;
	justify-content: space-between;
	transition: 0.2s ease-in-out color;
	color: rgb(101, 101, 247);
	align-items: center;
}

.bookmark {
	right: 0;
	width: 26px;
	height: 26px;
	z-index: 3;

	@media (max-width: 600px) {
		right: 5px;
	}
}

.bookmark path {
	fill: transparent;
	transition: fill 0.2s ease-in-out, stroke 0.2s ease-in-out;
}

.browse-book:hover .bookmark path {
	stroke: #fff;
}

.browse-book:hover .lend rect {
	stroke: #fff;
	fill: #6565F7;
}

.bookmark:hover {
	cursor: pointer;
}

.bookmark:hover path {
	fill: #fff;
}

.lend {
	width: 24px;
	height: 24px;
	z-index: 3;
	cursor: pointer;
	right: 4px;
	bottom: 15px;
}

.lend path {
	transition: stroke 0.2s ease-in-out;
}

.lend circle {
	transition: fill 0.2s ease-in-out;
}

.lend:hover circle {
	fill: #6565f7;
	stroke: #fff;
}

.lend:hover path {
	fill: #fff;
}

.book-details-container {
	position: relative;
	width: 100vw;
	height: 100vh;
	display: flex;
	overflow: hidden;
}

.a-side {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 25vw;
	min-height: 90vh;
	padding-left: 3%;
	padding-right: 3%;
	gap: 20px;
	border-right: solid 1px rgb(101, 101, 247);
	align-items: center;
	inset: 0;
}

.details-a-top {
	display: flex;
	padding-top: 10%;
	width: 100%;
	justify-content: space-between;
	/* align-items: center; */
}

.details-a-bottom {
	display: flex;
	width: 100%;
	padding-bottom: 6%;
	justify-content: space-between;
	align-items: center;
}

.book-image-container {
	width: 21vw;
	height: 65vh;
	margin-top: 3vh;
	margin-bottom: 5vh;
	pointer-events: none;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.bookmark-details {
	/* width: 30px; */
	height: 38px;
	z-index: 2;
	margin-top: 2px;
}

.bookmark-details path {
	fill: transparent;
	transition: fill 0.2s ease-in-out, stroke 0.2s ease-in-out;
}

.bookmark-details:hover {
	cursor: pointer;
}

.bookmark-details:hover path {
	fill: rgb(101, 101, 247);
}

.details-back-arrow {
	font-weight: 550;
	color: #6565f7;
	font-size: 13px;
	z-index: 3;
	transition: 0.2s ease-in-out;
}

.details-back-arrow:hover {
	color: rgb(26, 26, 184);
}

.lend-details {
	width: 30px;
	height: 30px;
	z-index: 3;
	cursor: pointer;
}

.lend-details path {
	transition: stroke 0.2s ease-in-out;
}

.lend-details circle {
	transition: fill 0.2s ease-in-out;
}

.lend-details:hover circle {
	fill: #6565f7;
}

.lend-details:hover path {
	fill: #fff;
}

.author {
	color: rgb(101, 101, 247);
}

.book-link {
	cursor: none;
}

.b-side {
	position: relative;
	width: 62vw;
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	border-right: solid 1px rgb(101, 101, 247);
	justify-content: space-between;
}

.b-side-top {
	padding: 3%;
	display: flex;
	height: 36%;
	border-bottom: 1px solid rgb(101, 101, 247);
}

.b-side-bottom {
	height: 50%;
	padding: 3%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.b-side-bottom-header {
	color: rgb(101, 101, 247);
	font-size: 1.2rem;
	font-weight: 600;
	font-style: italic;
	margin-bottom: 1%;
}

.b-side-bottom-lenders-container {
	display: flex;
	flex-direction: row;
	gap: 30px;
	margin-bottom: 2%;
}

.b-side-bottom-lender {
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 80px;
}

.b-side-bottom-lender-img-container {
	height: 80px;
	background-color: rgb(101, 101, 247);
}

.b-side-bottom-lender-name {
	font-size: 14px;
	color: rgb(101, 101, 247);
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.b-side-bottom-borrowers-container {
	display: flex;
	flex-direction: row;
	gap: 30px;
}

.b-side-bottom-borrower-header {
	color: rgb(101, 101, 247);
	font-size: 1.2rem;
	font-weight: 600;
	font-style: italic;
	margin-bottom: 1%;
}

.b-side-bottom-borrower {
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 80px;
}

.b-side-bottom-borrower-img-container {
	height: 80px;
	background-color: rgb(101, 101, 247);
}

.b-side-bottom-borrower-name {
	font-size: 14px;
	margin: 0;
	color: rgb(101, 101, 247);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.b-side-left {
	inset: 0;
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: #6565f7;
}

.b-side-right {
	width: 60%;
	right: 0;
	color: #6565f7;
	overflow-y: auto;
}

.b-side-right::-webkit-scrollbar {
	width: 8px;
}

.b-side-right::-webkit-scrollbar-thumb {
	background: rgb(180, 180, 253);
}

.b-side-right::-webkit-scrollbar-track {
	background: rgb(230, 230, 246);
}

.b-side-description {
	width: 90%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.b-side-description > div {
	flex: 1;
	min-height: 0;
}

.b-side-title-container {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.b-side-title {
	color: rgb(101, 101, 247);
	font-size: 2rem;
	font-weight: 600;
	font-style: italic;
	text-decoration: underline;
}

.b-side-author {
	color: rgb(101, 101, 247);
}

.b-side-info-container {
	display: flex;
	flex-direction: column;
}

/* register page styles */
.register-page {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.form {
	margin-top: -25vh;
}

.form-input {
	border: none;
	border-bottom: 2px solid rgb(101, 101, 247);
	font-size: 2em;
	color: rgb(140, 140, 253);
	padding: 10px;
}

.form-input:focus {
	outline: none;
	background-color: rgb(204, 204, 246);
}

.form-input::placeholder {
	color: rgb(180, 180, 253);
}

.form-input:focus::placeholder {
	opacity: 0;
}

.login-page {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.image-input {
	display: none;
}

.custom-image-button {
	border-bottom: 2px solid rgb(101, 101, 247);
	border-left: 2px solid rgb(101, 101, 247);
	border-right: 2px solid rgb(101, 101, 247);
	font-size: 0.8em;
	font-weight: 600;
	color: rgb(140, 140, 253);
	padding: 10px;
	margin-top: 10px;
	position: relative;
	cursor: pointer;
	left: 73%;
	display: inline-block;
	transition: 0.3s ease-in-out all;
}

.custom-image-button:hover {
	background-color: rgb(101, 101, 247);
	color: #fff;
}

.input-button {
	width: 100%;
	border: 2px solid rgb(101, 101, 247);
	background-color: white;
	color: rgb(101, 101, 247);
	font-size: 1.3em;
	padding: 11px;
	margin-top: 4vh;
	cursor: pointer;
	transition: 0.3s ease-in-out all;
}

.input-button:hover {
	color: #fff;
	background-color: rgb(101, 101, 247);
}

.user-profile-img-container {
	width: 150px;
	height: 150px;
}

.user-profile-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* hide change name input field  */
.username-edit-form {
	display: inline;
}

.username-container {
	position: relative;
	cursor: pointer;
	border-bottom: 1px dashed #ccc;
	padding: 2px 4px;
}

.username-container:hover {
	background-color: #f5f5f5;
}

.username-input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
	z-index: 1;
}

.username-input:focus {
	opacity: 1;
	background: white;
	outline: 2px solid #4a90e2;
	z-index: 2;
}

.submit-btn {
	display: none;
}

.username-input:focus + .submit-btn {
	display: inline-block;
	margin-left: 8px;
	font-size: 0.8em;
	padding: 2px 8px;
}

.pagination-container {
	margin-top: auto;
}

.pagination {
	margin-top: 80vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.pagination-button {
	align-self: center;
	font-weight: 550;
	color: #6565f7;
	font-size: 20px;
	transition: color 0.2s ease-in-out;
}

.pagination-button:hover {
	color: rgb(26, 26, 184);
}
