@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

html {
	cursor: none;
}

body {
	font-family: "Raleway", sans-serif;
	overflow-x: hidden;
	margin: 0;
	cursor: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.mouse-circle {
	position: fixed;
	border-radius: 50%;
	background-color: rgb(101, 101, 247);
	pointer-events: none;
	width: 40px;
	height: 40px;
	transition: transform 0.15s ease-out, opacity 0.3s ease-in-out;

	@media screen and (max-width: 1024px) {
		display: none;
	}
}

.navbar {
	position: absolute;
	right: 30px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	top: 20px;
	cursor: pointer;
}

.nav-item {
	font-weight: 600;
	color: gray;
	font-size: 13px;
}

.nav-link {
	text-decoration: none;
	color: inherit;
	transition: color 0.2s ease-in-out;
}

.nav-link:hover {
	color: rgb(28, 27, 27);
}

.header-text-container {
}

.header-text {
	font-style: italic;
	font-weight: 900;
	font-size: 64px;
	color: rgb(101, 101, 247);
	margin: 30px;
	transition: color 0.1s ease-in-out;
	cursor: none;
}

.header-text-div {
	margin: 0;
	width: 100%;
	border-bottom: 1px solid rgb(101, 101, 247);
	user-select: none;
}

.header-text:hover {
	color: rgb(140, 140, 253);
}

.corner-text {
	color: rgb(92, 92, 229);
	font-size: 16px;
	margin: 20px;
	position: absolute;
	bottom: 0px;
	user-select: none;
}

.corner-text:hover {
	color: #ffffff;
}
